doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width initial-scale=1.0")
        meta(name="author", content="Runze Zhang")
        block extra-styles
        block extra-scripts
        title= title
    body
        .container-fluid(style="padding:0px")
            .content-block
                .hidden-info
                    input#uid(type="hidden", name="uid" value=uid)
                    input#rid(type="hidden", name="uid" value=rid)
                    input#uname(type="hidden", name="uid" value=uname)
                    input#rname(type="hidden", name="uid" value=rname)
                block content
